#index
  %h4 このページの使い方
  %ul
    %li 一番上のテキストボックスにTwitterで調べたい対象を入力します。（およそ140文字以内。単語のみ対応。）
    %li ※対象のキーワードがURLに含まれる場合はURLもヒットします。
    %li 検索ボタンを押します。
    %li ツイート本文から探したいキーワードを入力します。
    %li キーワード一つあたりに付けるポイントを設定します。
    %li チェック！ボタンを押します。
    %li キーワードの数 × ポイント数 が表示されます。
    %li キーワードの文字が赤くなります。
    %li ※ポイントはチェックごとに更新されます。
